# Notebook repaso primer parcial

El presente notebook tiene como propósito realizar un repaso de los temas vistos en la asignatura Procesamiento y análsis de datos para ciencias sociales en R. Se eligió un noteook en lugar de un script en Rstudio debido a que esta herramienta permite visualizar los resultados sin necesidad de ejecutar la totalidad de líneas y sin necesidad de las dependencias. Asimismo, esta forma de mostrar los resultados puede resultar más pedagógica de el script en R.

## Tipo de variables y de objetos

A continuación, se presentan algunos de los tipos de objetos y de variables en R.

En R -así como en otros lenguajes de programación- creamos objetos que almacenan información. Para ello definimos un nombre para el objeto seguido del operador de asignación y posteriormente, la información que deseamos asignar.

La estructura es la siguiente:

In [ ]:
nombre_objeto <- "informacion a asignar"

En el código anterior definimos el objeto con nombre nombre_objeto el operador de asignación <- y la información que deseamos asignar.

Ahora introduciremos el concepto de función. Una función realiza una operación a un objeto. Su sintaxis suele presentarse como sigue:

nombre_funcion(objeto_sobre_el que_se_opera)

Primero tenemos el nombre de la función, seguido de un paréntesis y dentro de estos el objeto al cuál se le aplica la operación.

El la siguiente celda se utiliza la función print(), esta función sirve para imprimir en consola el contenido de un objeto. Así pues, crearemos un objeto, le asignaremos un contenido y posteriormente lo imprimitemos en consola con la función print()

In [ ]:
cadena_str_1 <- "hola clase!"

print(cadena_str_1)

[1] "hola clase!"

Ahora presentaremos una segunda función. La función typeof() permite devolver el tipo de dato o de variable que se encuentra almacenada en un objeto.

Es importante señalar que las funciones se pueden combinar. En ese sentido, podemos combinar las funciones print() y typeof() para identificar el tipo de dato almacenado en un objeto y posteriormente imprimirlo en consola, así:

In [ ]:
print(typeof(cadena_str_1))

[1] "character"

Anteriormente, creamos el objeto cadena_str_1 el cual almacena el contenido asignado. En la celda anterior observamos que, al imprimir el tipo de dato o de variable, nos regresa "character". Esto indica que el cotenido del objeto es una cadena de texto.

Las cadenas de texto se definen con comillas "" y de esta manera le indicamos a R que estamos asignando texto plano y no otro tipo de dato.

Reviemos otro tipo de variables en R

In [ ]:
num_decimal_1 <- 42

print(num_decimal_1)
print(typeof(num_decimal_1))

[1] 42
[1] "double"

El objeto anterior contiene un valor decimal. Por defecto, cuando almacenamos el valor 42 u otro tipo de valores similares, el dato se guardaa como un decimal. Este valor se conoce en R como "double".

Si deseamos almacenar un dato como valor entero, debemos agregar la letra L al final del número como se observa a continuación:

In [ ]:
num_entero_1 <- 15L

print(num_entero_1)
print(typeof(num_entero_1))

[1] 15
[1] "integer"

Otro tipo de valores son los datos lógicos. Estos poseen una estrutura booleana TRUE o FALSE y permiten combinarse de manera muy potente con funciones de tipo condicional, las cuales se verán más adelante.

In [ ]:
valor_logico_1 <- TRUE

print(valor_logico_1)
print(typeof(valor_logico_1))

[1] TRUE
[1] "logical"

### Tipos de objetos en R

#### Vectores

En esta sección se presentan dos de los tipos de objetos más importantes en lenguaje R, a saber: vectores y dataframes.

Un vector en R corresponde a un objeto unidimensional que almacena una secuencia de elementos del mismo tipo. Esto implica que todos los valores deben ser de tipo carácter (cadena de texto), entero (integer), decimal (double) u otro tipo de variable. No es posible tener un vector con valores combinados. Si bien un vector podría contener los elmentos "Alberto", "Tatiana", "5", "13.7", "TRUE" estos elementos se almacenarían como cadenas de texto y por tanto, no tendrían sus propiedades aritméticas o lógicas.

Para definir un vector utilizamos la función c(). Esta función nos permite definir que los valores a introducir se almacenarán como un vector

In [ ]:
cadena_str_2 <- c("Juan", "Catalina", "Sergio", "liliana", "12")

print(cadena_str_2)
print(typeof(cadena_str_2))

[1] "Juan"     "Catalina" "Sergio"   "liliana"  "12"
[1] "character"

Nótese que si un valor numérico, lógico o de cualquier otro tipo se encuentra entre comillas, se leerá como una cadena de texto. En ese sentido los valores 15 y "15" no son equivalentes.

In [ ]:
num_decimal_2 <- c(42, 12.5, 86, 97.3)

print(num_decimal_2)
print(typeof(num_decimal_2))

[1] 42.0 12.5 86.0 97.3
[1] "double"

In [ ]:
num_entero_2 <- c(42L, 55L, 7L, 1456L)

print(num_entero_2)
print(typeof(num_entero_2))

[1]   42   55    7 1456
[1] "integer"

In [ ]:
valor_logico_2 <- c(TRUE, TRUE, FALSE, TRUE, FALSE)

print(valor_logico_2)
print(typeof(valor_logico_2))

[1]  TRUE  TRUE FALSE  TRUE FALSE
[1] "logical"

In [ ]:
cadena_datos_faltantes <- c("ana", "julian", NA, "valentina", "NA")

print(cadena_datos_faltantes)
print(typeof(cadena_datos_faltantes))

[1] "ana"       "julian"    NA          "valentina" "NA"
[1] "character"

En la cenda anterior se observan los valores faltantes (missing data). Estos valores se representan con NA e indican que para una determinada posición, no se tiene ningún valor. Asimismo, al final del vector se tiene el valor "NA". Al estar entre comillas "", se almacena como una cadena de texto.

#### Dataframes

Es una estructura de datos bidimensional que almacena la información en filas (observaciones) y columnas (variables o atributos). Asimismo, los dataframe poseen títulos para nombrar e individualizar las columnas.

A continuación, se presenta una forma de crear un dataframe. Se utiliza la función data.frame() y dentro de ella se definen vectores y sus correspondientes nombres. Por último, imprimimos el dataframe con la función View()

In [ ]:
tabla_personas <- data.frame(
  nombre = c("Karen", "Nicolas", "Natalia", "Sebastian"),
  edad_anios = c(23L, 56L, 19L, NA),
  altura = c(1.67, 1.78, 1.58, 1.65),
  mes_nacimiento = c("Julio", "Agosto", "Abril", "Junio")
)

View(tabla_personas)

  nombre    edad_anios altura mes_nacimiento
1 Karen     23         1.67   Julio
2 Nicolas   56         1.78   Agosto
3 Natalia   19         1.58   Abril
4 Sebastian NA         1.65   Junio

In [ ]:
caractrst_cocaleros <- data.frame(
  rol = c("cultivador", "recolector", "no cultivador"),
  hectareas = c(3.4, 0.8, 12.3),
  proyecto_productivo = c("Cacao", "Apicultura", "Cacao")
)

View(caractrst_cocaleros)

  rol           hectareas proyecto_productivo
1 cultivador     3.4      Cacao
2 recolector     0.8      Apicultura
3 no cultivador 12.3      Cacao

Los nombres de las variables de un dataframe nos permiten acceder a sus valores al llamarlas con el operador $.

A continuación, imprimimos un par de columnas individuales del dataframe anterior utilizando dicho operador.

In [ ]:
print(caractrst_cocaleros$rol)

[1] "cultivador"    "recolector"    "no cultivador"

In [ ]:
print(caractrst_cocaleros$hectareas)

[1]  3.4  0.8 12.3

# Taller 1. Aplicaciones de programación en R

**Objetivo:** Comprender y aplicar los conceptos de vectores, data frames, listas, ciclos, condicionales y funciones en R para la organización y clasificación de información poblacional.

### Punto 1.  

1.1 Crear cinco vectores con longitud N = 5.

1.2 Cada vector representará una característica diferente de una muestra de persona:

* Fecha de nacimiento.
* Nombre: vector de carácter con nombres de personas.
* Hectáreas: vector numérico double (puede tener decimales), que represente hectáreas cultivadas.
* Edad en años: vector numérico entero (int) con edades de las personas.
* Adscrito_pnis: vector booleano (TRUE o FALSE) que indique si la persona está adscrita al PNIS (Programa Nacional Integral de Sustitución de Cultivos).

### Punto 2.  

2.1 Unir los vectores creados en el paso anterior en un único data frame llamado datos_poblacion.

2.2 Imprimir el data frame para verificar su contenido.

### Punto 3.  

3.1 Utilizar un ciclo for para recorrer cada fila del data frame. Según la edad, clasificar a cada persona en uno de los siguientes grupos etarios del DANE:

* Niños y jóvenes: 0 - 14 años

* Adultos: 15 - 64 años

* Adultos mayores: 65 años en adelante

### Punto 4. (reto)

4.1 Calcular el promedio de hectáreas cultivadas con una función.

In [ ]:
## solucion punto 1

vect_date <- c(2001, 2005, 2000, 2010, 2020)

vector_name <- c ("ana", "paula", "pepe", "ursula", "laura")

vect_hect <- c(22.5, 10.7, 12.6, 20.3, 18.2)

vect_edad <- c(9, 32, 45, 51, 88)

adscrito_pnis <- c(TRUE, FALSE, FALSE, TRUE, TRUE)

In [ ]:
## solucion punto 2

datos_poblacion <- data.frame(nombre = vector_name,
                      fecha_nacimiento = vect_date,
                      edad = vect_edad,
                      has = vect_hect,
                      inscrito = adscrito_pnis)

View(datos_poblacion)

  nombre fecha_nacimiento edad has  inscrito
1 ana    2001              9   22.5  TRUE
2 paula  2005             32   10.7 FALSE
3 pepe   2000             45   12.6 FALSE
4 ursula 2010             51   20.3  TRUE
5 laura  2020             88   18.2  TRUE

In [ ]:
## solucion punto 3

## utilizar la función for()

## utilizar la función if()

for (edad in datos_poblacion$edad) {

  if (edad > 0 && edad < 14) {

    print(edad)

    print("Niños y jóvenes")

  }

  if (edad > 14 && edad < 64) {

    print(edad)

    print("Adultos")
  }

  if (edad >= 64){
    print(edad)
    print("Adultos mayor")
  }
}

[1] 9
[1] "Niños y jóvenes"
[1] 32
[1] "Adultos"
[1] 45
[1] "Adultos"
[1] 51
[1] "Adultos"
[1] 88
[1] "Adultos mayor"

In [ ]:
## solucion punto 4

## Utilizar la función length() para contar la cantidad de elementos de un vector.

## Utilizar la función sum() para sumar la totalidad de valores de un vector.

# primera forma de solución
n_vals <- length(datos_poblacion$has)

sum_has <- sum(datos_poblacion$has)

prom_hectareas_1 <- sum_has/n_vals

print(prom_hectareas_1)

[1] 16.86

In [ ]:
## solucion punto 4

## Utilizar la función mean().

# segunda forma de solución
promedio_hectareas_2 <- mean(datos_poblacion$has)

print(promedio_hectareas_2)

[1] 16.86

## Funciones

Las funciones son fragmentos de código que nos permiten realizar una tarea u operación específica. Su estructura está dada por:

*   **Nombre:** corresponde a la forma de nombrear y de llamar la función, por ejemplo, mean(), sum(), mutate(), read_xlsx() etc. Nótese que la funciones poseen paréntesis, puesto que esperan recibir algún tipo de argumento.

*   **Argumentos o parámetros:** Es quello que recibe la función o, en otras palabras, las entradas de la función. La funciones reciben pueden recibir objetos generales como vectores, dataframes o listas, y también poseen parámetros específicos que solamente están diseñados para una función en concreto. Así, por ejemplo, sum() puede recibir un vector de números o de valores lógicos, y a la vez posee el párametro na.rm = el cuál espera un valor lógico (TRUE o FALSE) a fin de determinar si debe ignorar o tener en cuenta los valores en *NA*. Otro ejemplo de funciones -en la que profundizaremos más adelante- es la función read_parquet(), esta función recibe como parámetros una cadena de texto con la ruta de un archivo a importar y también, con el parámetro col_select =, recibe un vector con los nombres de las columnas que queremos seleccionar. Dos realizaciones de nuestros dos ejemplos anteriores serían:

  *   sum(vec_num, na.rm = TRUE)
  *   read_parquet("/c/Users/sebas/Documents/clase_r_cs/tabla_pnis.xlsx", col_select = c("nombres", "hectareas"))


*   **Cuerpo:** El cuerpo de la función corresponde al código que está "por debajo" y realiza las operaciones que estamos llamando. Cuando llamamos una función de R base o de un paquete externo, no necesitamos definir un cuerpo. No obstante, cuando somos nosotras quienes la creamos, debemos delimitar los parámetros que recibirá la función así como las instrucciones de las operaciones que R ejecutará para con dichos parámetros. En el caso de R, el cuerpo de la función se encuentra encapsulado entre llaves {}.

*   **Retorno:** Una vez se definen los parámetros y las operaciones, R debe regresar algún tipo de salida para con nuestra función. Al igual que con el cuerpo, el especificar el retorno de la función es exclusivo de las funciones en las que somos sus creadores. Para ello, a su vez, se hace uso de la función return() la cuál espera la salida que queremos regresar a los y las usuarias de nuestras funciones.

El lenguaje R nos brinda la posibilidad de crear nuestras propias funciones. Esto es especialmente útil cuando debemos realizar una tarea muy específica y repetirla varias veces a lo largo de un script. Para este propósito, haremos uso de function() y del operador de asignación a fin de dotar de un nombre a nuestra función. A continuación, algunos ejemplos de funciones inventadas.

En primer lugar, vamos a crear una función llamada num_cuadrado la cual espera recibir un valor numérico y la operación que realiza es la de elevar el número al cuadrado. Posteriormente, almacenaremos el resultado en un nuevo objeto y procedemos a imprimirlo.

In [ ]:
## funcion para elevar un número a cuadrado.

num_cuadrado <- function(x) {

  resultado <- x*x

  return(resultado)
}

cuadrado_de_nueve <- num_cuadrado(9)

veinticinco_al_cuadrado <- num_cuadrado(25)

print(cuadrado_de_nueve)
print(veinticinco_al_cuadrado)

[1] 81
[1] 625

En segundo lugar, se contruye una función llamada div_par, la cual recibe un vector de números y procede a dvidirlos por 2.

In [ ]:
## función para dividir por dos.

div_par <- function(vec_nums){

  resl_div <- vec_nums/2

  return(resl_div)
}

vector_prueba_1 <- c(20, 34, 13, 6, 56)

vector_prueba_2 <- c(1235, 3456)

division_par_nums_a <- div_par(vector_prueba_1)

division_par_nums_b <- div_par(vector_prueba_2)

print(division_par_nums_a)
print(division_par_nums_b)

[1] 10.0 17.0  6.5  3.0 28.0
[1]  617.5 1728.0

A continuación, realizaremos un ejercicio de estandarización para un conjunto de valores numéricos. Para ello, se procede con la creación de una función que le resta a cada número la media y luego lo divide por la desviación estándar.

In [ ]:
# Función para estandarizar valores numéricos.
standrzcn_num <- function(vec_x) {

  media_num <- mean(vec_x)

  sd_num <- sd(vec_x)

  var_stand <- (vec_x - media_num)/sd_num

  return(var_stand)
}


prueba_nums <- c(34, 45, 4, 567, 23, 56)

segund_prueba_nums <- c(20, 45, 54, 45, 78, 45)

reslt_standrzcn <- standrzcn_num(prueba_nums)

seg_reslt_standrzcn <- standrzcn_num(segund_prueba_nums)

print(reslt_standrzcn)
print(seg_reslt_standrzcn)

[1] -0.3995663 -0.3493351 -0.5365604  2.0343632 -0.4497975 -0.2991039
[1] -1.4891021 -0.1515852  0.3299208 -0.1515852  1.6139370 -0.1515852

## Librerías

Las librerías (también llamadas paquetes) tienen como propósito extender las funcionalidades de R. Las librerían incluyen múltiples funciones que nos permiten realziar tareas específicas sin tener que programar cada funcionalidad desde cero.

Si bien R cuenta con una buena cantidad de funciones por defecto, el descargar e instalar librerías adicionales nos permite potenciar la capacidad del lenguaje para importar datos, procesarlos, visualizarlos y exportarlos entre una larga lista de posibilidades.

De manera predefinida, R posee una gran cantidad de funcionalidades. Sin embargo, potenciamos las posibilidades toda vez que descargamos e instalamos librerías que nos brindan nuevas cajas de herramientas.

La función predefinida para descargar e instalar librerías es install.packages(). Su estructura es la siguiente:

install.packages("nombre_librería_a_instalar")

En la celda siguiente se descarga la librería pacman. Esta librería permite a su vez instalar y cargar múltiples librerías.

In [ ]:
install.packages("pacman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

No basta con descargar e instalar la librería, es necesario cargarla a nuestra sesión. Para cargar la librería se utiliza la función library()

Su estructura es:

library(nombre_librería_previamente_instalada)

In [ ]:
library(pacman)

Otra forma de llamar una librería para usar una de las funciones que ésta trae, es utilizando el operador ::. Su estructura es la siguiente:

librería::funcion_a_ejecutar(parámetro_de_la_funcion)

En el caso de pacman, se procede a utilizar la función p_load(). Esta función recibe los nombres de librerías y procede a identificar si están o no están instaladas. En caso de que estén instaladas, procede a cargarlas a la sesión de R. En caso de que no estén instaladas, se descargan, se instalan y se cargan.

Su sintaxis es la siguiente:

pacman::p_load(librería_1, librería_2, librería_3)

In [ ]:
pacman::p_load(arrow, writexl, readr, openxlsx, haven, here)

En la línea anterior se instalaron múltiples librerías para cargar y exportar tablas en distintas arquitecturas de datos.

## Importar

En la presente sección se expone la forma en la que se importan tablas de distintas arquitecturas a fin de llevarlas a R. Es uno de los primeros pasos del análisis de datos.

En primer lugar, se requiere la ruta (directorio) en la que se ubican las tablas que queremos importar a R. En segundo lugar se identificar el formato o la arquitecctura de datos en la que se encuentra la tabla y se procede a identificar la librería y la función que permiten importarla a R. A continuación, se presentan algunas funciones y librerías sugeridas:



*   Función read_parquet() de la librería arrow para archivos en formato .parquet.
*   Función read_delim() de la librería stringr para archivos en formato .csv.
*   Función read_dta() de la librería haven para archivos en formato .dta.
*   Función read.xlsx() de la librería openxlsx para archivos en formato .xlsx.

En lo que sigue se muestran algunos ejemplos de la implementación de estas funciones.

In [ ]:
# Se crean objetos que almacenan rutas de archivos.

input_pnis <- "drive_sebas/economias_ilicitas/Datos-anónimos-encuesta-PNIS.xlsx"

input_hogares <- "drive_sebas/agropecuario/S15H(Hogares).csv"

input_ins_viol <- "drive_sebas/violencia/Replication Dataset-Panel Data.dta"

input_cnmh_df <- "drive_sebas/violencia/CasosDF_202409.parquet"

input_censo <- "drive_sebas/agropecuario/censo_agro_import.parquet"

Ahora, se procede a implementar las funciones, las cuales reciben la ruta del archivo como parámetro e importan los datos en formato dataframe.

Asimismo, se utiliza la función head() la cual reduce la tabla a las primeras 6 filas del dataframe.

In [ ]:
table_pnis <- read.xlsx(input_pnis)

View(head(table_pnis))

  ID F0          P93          P1_EXACTA P1_1_RANGO         P2
1 1  Puerto asís Recolector/a 70        Más de 67 años     Masculino
2 2  Puerto asís Recolector/a 39        Entre 36 – 45 años Masculino
3 3  Puerto asís Recolector/a 42        Entre 36 – 45 años Masculino
4 4  Puerto asís Recolector/a 24        Entre 18 – 25 años Masculino
5 5  Tumaco      Recolector/a 32        Entre 26 – 35 años Femenino
6 6  Puerto asís Recolector/a 34        Entre 26 – 35 años Masculino
  P4                                                       P5 P6_MUNICIPIO
1 Indígena                                                 Sí El Encanto
2 Blanco o Mestizo                                         Sí Leguizamo
3 Blanco o Mestizo                                         Sí Puerto Asís
4 Blanco o Mestizo                                         Sí Puerto Asís
5 Negro(a), mulato(a), afrocolombiano(a), afrodescendiente Sí Tumaco
6 Blanco o Mestizo                                         Sí Pitalito
  P6_DEPARTAMENTO ⋯ P192_NINGUNO P194_FISICAMENTE P194_AMENAZADO P194_AGREDIDO
1 Amazonas        ⋯ Ninguno      NA               NA             NA
2 Putumayo        ⋯ Ninguno      NA               NA             NA
3 Putumayo        ⋯ Ninguno      NA               NA             NA
4 Putumayo        ⋯ Ninguno      NA               NA             NA
5 Nariño          ⋯ Ninguno      NA               NA             NA
6 Huila           ⋯ Ninguno      NA               NA             NA
  P194_ESTIGMATIZACION P194_VIOLENCIA P194_ASESINADO
1 NA                   NA             NA
2 NA                   NA             NA
3 NA                   NA             NA
4 NA                   NA             NA
5 NA                   NA             NA
6 NA                   NA             NA
  P194_NINGUNO                      GRUPO FACTOR
1 No he sido testigo de ningún caso 4     0.002335060
2 No he sido testigo de ningún caso 1     0.001530465
3 No he sido testigo de ningún caso 3     0.001371111
4 No he sido testigo de ningún caso 2     0.001019736
5 No he sido testigo de ningún caso 1     0.003719592
6 No he sido testigo de ningún caso 1     0.001530465

In [ ]:
table_hogares <- read_delim(input_hogares)

View(head(table_hogares))

Rows: 1543134 Columns: 21
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): TIPO_REG, P_DEPTO, P_MUNIC, UC_UO, ENCUESTA, COD_VEREDA, ITER_HG
dbl (14): PAIS, P_S15P165A, P_S15P165B, P_S15P177, P_S15P178, P_S15P179_SP1,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  TIPO_REG PAIS P_DEPTO P_MUNIC UC_UO    ENCUESTA  COD_VEREDA ITER_HG
1 N        170  05      05001   00010001 000157501 05001038   00101
2 N        170  05      05001   00010001 000158442 05360006   00101
3 N        170  05      05001   00010001 000158442 05360006   00201
4 N        170  05      05001   00010001 000160666 05001999   00101
5 N        170  05      05001   00010001 000161543 05001029   00101
6 N        170  05      05001   00010001 000162857 05001043   00101
  P_S15P165A P_S15P165B ⋯ P_S15P178 P_S15P179_SP1 P_S15P179A P_S15P179_SP2
1 1          1          ⋯ 2         NA              NA       NA
2 1          1          ⋯ 3         NA              NA       NA
3 2          1          ⋯ 2          1            2002       NA
4 1          1          ⋯ 2         NA              NA       NA
5 1          1          ⋯ 3         NA              NA       NA
6 1          1          ⋯ 2         NA              NA       NA
  P_S15P179B P_S15P179_SP3 P_S15P179C P_S15P179_SP4 P_S15P180 TOT_PROD_HOGAR
1 NA         NA            NA          1            NA        NA
2 NA         NA            NA          1            NA         1
3 NA         NA            NA         NA             2        NA
4 NA         NA            NA          1            NA        NA
5 NA         NA            NA          1            NA        NA
6 NA         NA            NA          1            NA         1

In [ ]:
table_ins_viol <- read_dta(input_ins_viol)

View(head(table_ins_viol))

  codigo year month latitude longitude insurg_violence orgncap1 orgncap2
1 5001   1965 7     6.27     75.58     0               0        1
2 5001   1978 6     6.27     75.58     0               0        1
3 5001   1971 7     6.27     75.58     1               0        1
4 5001   1965 1     6.27     75.58     0               0        1
5 5001   1974 1     6.27     75.58     0               0        1
6 5001   1979 9     6.27     75.58     1               0        1
  mountains1 mountains2 ⋯ ethdom inequality discap disbog   peaceyears _spline1
1 1486       NA         ⋯ 0      0.5256     0      177.8103  1            -0.75
2 1486       NA         ⋯ 0      0.5256     0      177.8103  0             0.00
3 1486       NA         ⋯ 0      0.5256     0      177.8103  0             0.00
4 1486       NA         ⋯ 0      0.5256     0      177.8103  1            -0.75
5 1486       NA         ⋯ 0      0.5256     0      177.8103  0             0.00
6 1486       NA         ⋯ 0      0.5256     0      177.8103 15         -1531.25
  _spline2 _spline3 _est_A _est_B
1    -0.5    -0.25  0      0
2     0.0     0.00  0      0
3     0.0     0.00  0      0
4    -0.5    -0.25  0      0
5     0.0     0.00  0      0
6 -1562.5  -843.75  0      0

In [ ]:
table_cnmhdf <- read_parquet(input_cnmh_df)

View(head(table_cnmhdf))

  ID.Caso ID.Caso.Relacionado Año  Mes Día Código.DANE.de.Municipio Municipio
1 100265  NA                  1991 05  25  25368                    JERUSALEN
2 100282  NA                  2004 12  02  25386                    LA MESA
3 101616  CR000088            1993 03  09  25885                    YACOPI
4 102204  NA                  1997 06  08  27099                    BOJAYA
5 102489  NA                  2000 06  12  27413                    LLORO
6 102675  NA                  1997 05  10  27615                    RIOSUCIO
  Departamento Región                       Modalidad           ⋯ Extorsión
1 CUNDINAMARCA SUROCCIDENTE DE CUNDINAMARCA DESCONOCIDA         ⋯ 0
2 CUNDINAMARCA SUROCCIDENTE DE CUNDINAMARCA RETENCIÓN           ⋯ 0
3 CUNDINAMARCA MAGDALENA MEDIO              ASALTO              ⋯ 0
4 CHOCO        ATRATO                       DESCONOCIDA         ⋯ 0
5 CHOCO        ATRATO                       RETENCIÓN/EJECUCIÓN ⋯ 0
6 CHOCO        URABA                        ASALTO              ⋯ 0
  Lesionados.Civiles Pillaje Tortura Violencia.Basada.en.Género
1 0                  0       0       NA
2 0                  0       1       NA
3 0                  0       3       NA
4 0                  0       0       NA
5 0                  0       0       NA
6 0                  0       0       NA
  Otro.Hecho.Simultáneo Total.de.Víctimas.del.Caso
1 NA                    1
2 NA                    1
3 NA                    2
4 NA                    1
5 NA                    1
6 NA                    1
  Tipo.de.Armas                       Latitud  Longitud
1 ND                                  4.571350 -74.68916
2 ARMA DE FUEGO                       4.650773 -74.47322
3 ARMA CORTO PUNZANTE - ARMA DE FUEGO 5.459290 -74.33802
4 ND                                  6.474667 -77.09933
5 ARMA CORTO PUNZANTE                 5.585101 -76.38544
6 ND                                  7.375606 -77.35636

In [ ]:
table_censo <- read_parquet(input_censo, col_select = c("recordid", "p_s12p150a", "s05_tenencia"))

View(head(table_censo))

  recordid                                 p_s12p150a s05_tenencia
1 a2ab5453636255c085c3be26ed0fd9c296c1e103 153936.128 99
2 c1a023bb5a55bf3ee1143a63ef7888bc45a66513  96405.598  1
3 99298a9579f45c067611a435e5f99b493fdd99ec         NA NA
4 ec2224f3a9e1aa5f8dc178ede773a827e00e324a   3172.055  1
5 cf0cb407a2650b26560bfd6e5b8fb5fbec523cf4 111173.102  1
6 55abe9c02431be685c856d5df2762f128718e103   3881.098  1

En la implementación anterior, nótese que se tiene un segundo parámetro llamado col_select. Este parámetro debe asignarse a un vector de nombres de columnas. El resultado es que solamente se importarán las columnas seleccionadas. Esto permite trabajar solamente con la información que necesitamos y así evitar saturar la memoria de nuestra máquina.

## Importar con parámetros

En este apartado se presentan algunos de los parámetros más importantes que reciben las funciones.

In [ ]:
input_coca <- "drive_sebas/economias_ilicitas/RPT_CultivosIlicitos_2024-12-22--194158.xlsx"

input_gini_t <- "drive_sebas/agropecuario/GINI_COL_IGAC_V3_07052024.xlsx"

input_cnmh_df <- "drive_sebas/violencia/CasosDF_202409.parquet"

input_censo <- "drive_sebas/agropecuario/censo_agro_import.parquet"

En la celda siguiente, nuevamente se utiliza read_parquet() para seleccionar solamente las columnas que necesitamos e importarlas con el parámetro col_select(). Esta es una propiedad exclusiva de la función read_parquet().

In [ ]:
table_censo <- read_parquet(input_censo, col_select = c("recordid", "p_s12p150a", "s05_tenencia"))

View(head(table_censo))

  recordid                                 p_s12p150a s05_tenencia
1 a2ab5453636255c085c3be26ed0fd9c296c1e103 153936.128 99
2 c1a023bb5a55bf3ee1143a63ef7888bc45a66513  96405.598  1
3 99298a9579f45c067611a435e5f99b493fdd99ec         NA NA
4 ec2224f3a9e1aa5f8dc178ede773a827e00e324a   3172.055  1
5 cf0cb407a2650b26560bfd6e5b8fb5fbec523cf4 111173.102  1
6 55abe9c02431be685c856d5df2762f128718e103   3881.098  1

En la siguiente línea se define la fila desde la que se procederá a importar el archivo. En este caso, se importa desde la fila 9 y el contenido de esta fila corresponderá a los nombres de las columnas del dataframe.

In [ ]:
table_coca <- read.xlsx(input_coca, startRow = 9)

View(head(table_coca))

  CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
1 91       AMAZONAS     91263   EL ENCANTO (Cor. Departamental)
2 91       AMAZONAS     91405   LA CHORRERA (Cor. Departamental)
3 91       AMAZONAS     91407   LA PEDRERA (Cor. Departamental)
4 91       AMAZONAS     91430   LA VICTORIA (Pacoa) (Cor. Departamental)
5 91       AMAZONAS     91460   MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)
6 91       AMAZONAS     91530   PUERTO ALEGRÍA (Cor. Departamental)
  1999 2000 2001   2002 2003  2004 ⋯ 2014 2015  2016   2017   2018   2019
1           191.82 264  164   270  ⋯ 20   11.77 12.65  8.04   4.12   2.52
2           65     236  209   271  ⋯ 51   13.61 14.09  18.2   6.04   3.16
3                                  ⋯
4                                  ⋯
5           6      43   36.18 30   ⋯
6           212.34 195  173   174  ⋯ 102  85.79 140.03 139.38 111.49 118.96
  2020  2021  2022   2023
1
2
3
4
5
6 61.45 72.76 103.39 65.97

Se utiliza un nuevo parámetro, el parámetro sheet, el cual recibe el nombre de la pestaña de una archivo excel a fin de importar dicha pestaña.

In [ ]:
table_gini <- read.xlsx(input_gini_t, sheet = "Gini Municipal", startRow = 4)

View(head(table_gini))

  CÓDIGO.DEPARTAMENTO DEPARTAMENTO CÓDIGO.MUNICIPIO MUNICIPIO  PREDIOS
1 05                  ANTIOQUIA    05002            ABEJORRAL  6923
2 05                  ANTIOQUIA    05004            ABRIAQUÍ    671
3 05                  ANTIOQUIA    05021            ALEJANDRÍA 1318
4 05                  ANTIOQUIA    05030            AMAGÁ      4034
5 05                  ANTIOQUIA    05031            AMALFI     2739
6 05                  ANTIOQUIA    05034            ANDES      6653
  PROPIETARIOS ÁREA.DE.TERRENO.Ha GINI      DISPARIDAD.SUPERIOR PREDIOS
1 6649         49342.531          0.7204944 5.885660            6626
2  759         28843.172          0.7168624 5.833670              70
3 1333         11856.432          0.6914164 5.758229            1262
4 4406          6841.981          0.8733692 8.069152            2846
5 3149         97150.453          0.7356233 6.123068            2498
6 6791         26553.727          0.7878380 6.968936            6361
  PROPIETARIOS ÁREA.DE.TERRENO.Ha GINI      DISPARIDAD.SUPERIOR PREDIOS
1 6423         48009.58           0.7193563 5.878156            6264
2  101          4696.32           0.6356558 4.232261              70
3 1280         11558.54           0.6939004 5.836089            1110
4 3053          6297.12           0.8382175 7.615653            2125
5 2923         87355.46           0.7358366 6.126120            2175
6 6509         24317.67           0.7713518 6.752471            5697
  PROPIETARIOS ÁREA.DE.TERRENO.Ha GINI      DISPARIDAD.SUPERIOR
1 6127         47814.826          0.7068689 5.775364
2  101          4696.320          0.6356558 4.232261
3 1223          8696.652          0.5907120 4.506474
4 2355          5822.769          0.8189741 7.431878
5 2629         85536.217          0.7123749 5.921797
6 5959         23963.834          0.7596878 6.658301

## Export

En la presente sección se busca ahora exportar la información desde R a otras múltiples arquitecturas de información. Algunas de las funciones recomendadas son:



*   write_parquet() de la librería arrow, recibe el nombre del objeto a exportar y la ruta en la que se almacenaría (ruta de destino) del objeto.
*   write_csv() de la librería stringr, recibe el nombre del objeto a exportar y la ruta en la que se almacenaría (ruta de destino) del objeto.
*   write_xlsx() de la librería writexl,recibe el nombre del objeto a exportar y la ruta en la que se almacenaría (ruta de destino) del objeto.

Antes de continar es necesario importar la librería dplyr. Esta libería incluye un amplio conjunto de funciones eficientes para el manejo de datos. Asimismo, nos permite encadenar funciones sin requerir llamar múltiples veces al nombre del dataframe por medio del operador pipe el cual se escribe %>%.

nombre_dataframe %>% funcion(nombre_columna)

En el caso anterior, aplicamos una función a una columna determinada. Ahora aplicaremos múltiples funciones.

nombre_dataframe %>% funcion1(nombre_columna_1) %>% funcion2(nombre_columa2)

En caso de no colocar ninguna columna entre los paréntesis de la función, la función se aplicará sobre todo el dataframe, así:

nombre_dataframe %>% funcion()

En caso de que se quiera crear un nuevo dataframe que quiera almacenar el nuevo resultado, se debe utilizar el operador de asignación.

nombre_df_nuevo <- nombre_dataframe %>% funcion_1(nombre_columna_1) %>% funcion_2(nombre_columna_2)

En las siguiente celdas se procede a reducir los dataframes cargados previamente a sus primeras 6 filas.

In [ ]:
# Descargar, instalar y cargar dplyr

pacman::p_load(dplyr)

In [ ]:
output_pnis <- "drive_sebas/carpeta_salida/pnis.parquet"

output_hogares <- "drive_sebas/carpeta_salida/s15h_hogares.csv"

output_ins_viol <- "drive_sebas/carpeta_salida/ins_viol.xlsx"

output_censo <- "drive_sebas/carpeta_salida/censo_agro_vars.ods"

In [ ]:
table_pnis <- table_pnis %>%
  head(10)

View(table_pnis)

   ID F0          P93          P1_EXACTA P1_1_RANGO         P2
1   1 Puerto asís Recolector/a 70        Más de 67 años     Masculino
2   2 Puerto asís Recolector/a 39        Entre 36 – 45 años Masculino
3   3 Puerto asís Recolector/a 42        Entre 36 – 45 años Masculino
4   4 Puerto asís Recolector/a 24        Entre 18 – 25 años Masculino
5   5 Tumaco      Recolector/a 32        Entre 26 – 35 años Femenino
6   6 Puerto asís Recolector/a 34        Entre 26 – 35 años Masculino
7   7 Puerto asís Recolector/a 70        Más de 67 años     Masculino
8   8 Puerto asís Recolector/a 36        Entre 36 – 45 años Masculino
9   9 Puerto asís Recolector/a 21        Entre 18 – 25 años Masculino
10 10 Puerto asís Recolector/a 43        Entre 36 – 45 años Femenino
   P4                                                       P5 P6_MUNICIPIO
1  Indígena                                                 Sí El Encanto
2  Blanco o Mestizo                                         Sí Leguizamo
3  Blanco o Mestizo                                         Sí Puerto Asís
4  Blanco o Mestizo                                         Sí Puerto Asís
5  Negro(a), mulato(a), afrocolombiano(a), afrodescendiente Sí Tumaco
6  Blanco o Mestizo                                         Sí Pitalito
7  Blanco o Mestizo                                         Sí Policarpa
8  Blanco o Mestizo                                         Sí Puerto Asís
9  Blanco o Mestizo                                         Sí Puerto Asís
10 Blanco o Mestizo                                         Sí La Hormiga Narño
   P6_DEPARTAMENTO ⋯ P192_NINGUNO P194_FISICAMENTE P194_AMENAZADO P194_AGREDIDO
1  Amazonas        ⋯ Ninguno      NA               NA             NA
2  Putumayo        ⋯ Ninguno      NA               NA             NA
3  Putumayo        ⋯ Ninguno      NA               NA             NA
4  Putumayo        ⋯ Ninguno      NA               NA             NA
5  Nariño          ⋯ Ninguno      NA               NA             NA
6  Huila           ⋯ Ninguno      NA               NA             NA
7  Nariño          ⋯ Ninguno      NA               NA             NA
8  Putumayo        ⋯ Ninguno      NA               NA             NA
9  Putumayo        ⋯ Ninguno      NA               NA             NA
10 Putumayo        ⋯ Ninguno      NA               NA             NA
   P194_ESTIGMATIZACION P194_VIOLENCIA P194_ASESINADO
1  NA                   NA             NA
2  NA                   NA             NA
3  NA                   NA             NA
4  NA                   NA             NA
5  NA                   NA             NA
6  NA                   NA             NA
7  NA                   NA             NA
8  NA                   NA             NA
9  NA                   NA             NA
10 NA                   NA             NA
   P194_NINGUNO                      GRUPO FACTOR
1  No he sido testigo de ningún caso 4     0.002335060
2  No he sido testigo de ningún caso 1     0.001530465
3  No he sido testigo de ningún caso 3     0.001371111
4  No he sido testigo de ningún caso 2     0.001019736
5  No he sido testigo de ningún caso 1     0.003719592
6  No he sido testigo de ningún caso 1     0.001530465
7  No he sido testigo de ningún caso 2     0.001019736
8  No he sido testigo de ningún caso 1     0.001530465
9  No he sido testigo de ningún caso 2     0.001019736
10 No he sido testigo de ningún caso 1     0.001530465

In [ ]:
table_hogares <- table_hogares %>%
  head(12)

View(table_hogares)

   TIPO_REG PAIS P_DEPTO P_MUNIC UC_UO    ENCUESTA  COD_VEREDA ITER_HG
1  N        170  05      05001   00010001 000157501 05001038   00101
2  N        170  05      05001   00010001 000158442 05360006   00101
3  N        170  05      05001   00010001 000158442 05360006   00201
4  N        170  05      05001   00010001 000160666 05001999   00101
5  N        170  05      05001   00010001 000161543 05001029   00101
6  N        170  05      05001   00010001 000162857 05001043   00101
7  N        170  05      05001   00010001 000439440 05266003   00101
8  N        170  05      05001   00010001 000445920 05001045   00101
9  N        170  05      05001   00010001 000449436 05001011   00101
10 N        170  05      05001   00010001 000449436 05001011   00201
11 N        170  05      05001   00010001 000449436 05001011   00301
12 N        170  05      05001   00010001 000449436 05001011   00401
   P_S15P165A P_S15P165B ⋯ P_S15P178 P_S15P179_SP1 P_S15P179A P_S15P179_SP2
1  1          1          ⋯ 2         NA              NA       NA
2  1          1          ⋯ 3         NA              NA       NA
3  2          1          ⋯ 2          1            2002       NA
4  1          1          ⋯ 2         NA              NA       NA
5  1          1          ⋯ 3         NA              NA       NA
6  1          1          ⋯ 2         NA              NA       NA
7  1          1          ⋯ 2         NA              NA       NA
8  1          1          ⋯ 2         NA              NA       NA
9  1          1          ⋯ 3         NA              NA       NA
10 2          1          ⋯ 3         NA              NA       NA
11 3          1          ⋯ 1         NA              NA       NA
12 4          1          ⋯ 2         NA              NA       NA
   P_S15P179B P_S15P179_SP3 P_S15P179C P_S15P179_SP4 P_S15P180 TOT_PROD_HOGAR
1  NA         NA            NA          1            NA        NA
2  NA         NA            NA          1            NA         1
3  NA         NA            NA         NA             2        NA
4  NA         NA            NA          1            NA        NA
5  NA         NA            NA          1            NA        NA
6  NA         NA            NA          1            NA         1
7  NA         NA            NA          1            NA        NA
8  NA         NA            NA          1            NA        NA
9  NA         NA            NA          1            NA        NA
10 NA         NA            NA          1            NA        NA
11 NA         NA            NA          1            NA        NA
12 NA         NA            NA          1            NA        NA

In [ ]:
table_ins_viol <- table_ins_viol %>%
  head(4)

View(table_ins_viol)

  codigo year month latitude longitude insurg_violence orgncap1 orgncap2
1 5001   1965 7     6.27     75.58     0               0        1
2 5001   1978 6     6.27     75.58     0               0        1
3 5001   1971 7     6.27     75.58     1               0        1
4 5001   1965 1     6.27     75.58     0               0        1
  mountains1 mountains2 ⋯ ethdom inequality discap disbog   peaceyears _spline1
1 1486       NA         ⋯ 0      0.5256     0      177.8103 1          -0.75
2 1486       NA         ⋯ 0      0.5256     0      177.8103 0           0.00
3 1486       NA         ⋯ 0      0.5256     0      177.8103 0           0.00
4 1486       NA         ⋯ 0      0.5256     0      177.8103 1          -0.75
  _spline2 _spline3 _est_A _est_B
1 -0.5     -0.25    0      0
2  0.0      0.00    0      0
3  0.0      0.00    0      0
4 -0.5     -0.25    0      0

In [ ]:
table_censo <- head(table_censo, 2)

View(table_censo)

  recordid                                 p_s12p150a s05_tenencia
1 a2ab5453636255c085c3be26ed0fd9c296c1e103 153936.1   99
2 c1a023bb5a55bf3ee1143a63ef7888bc45a66513  96405.6    1

In [ ]:
write_parquet(table_pnis, output_pnis)

In [ ]:
write_csv(table_hogares, output_hogares)

In [ ]:
write_xlsx(table_ins_viol, output_ins_viol)

En la siguiente imagen se observan los archivos resultantes de exportar las múltiples tablas.

![salida_write.jpg]()

Ahora, con la función rm() se eliminar algunas de las tablas cargadas a fin de librerar memoria en la máquina. El eliminar objetos que ya no se utilizarán más es una buena práctica para obtener eficiencia y eviar errores en el manejo de la información.

In [ ]:
rm(table_hogares, table_pnis, table_censo)

## Taller import y export

**Objetivo**: Comprender y aplicar los conceptos de importar y exportar objetos en formato tabular

### Punto 1.

Descargar los datos de cultivos de amapola para el departamento de Nariño entre los años 2000-2010. Importar el archivo a formato dataframe cuidando que los títulos efectivamente se sincronicen como nombres de columnas en Rstudio.

Fuente: https://www.minjusticia.gov.co/programas-co/ODC/Paginas/SIDCO-departamento-municipio.aspx

### Punto 2.

Descargar los datos de desaparición forzada (CasosDF_202409) del repositorio del Onedrive e importar únicamente las siguientes columnas: "Año", "Mes", "Día", "Departamento", "Municipio", "Presunto.Responsable".

### Punto 3.

Importar la tabla de asesinato de líderes rurales desde la Página del Observatorio de Tierras.

Fuente: https://www.observatoriodetierras.org/otros-documentos/

### Punto 4.

Exportar los primeros 5 registros de cada tabla en los siguientes formatos. La tabla del CNMH debe exportarse en formato parquet, la tabla de cultivos de uso ilítico debe exportarse en formato .csv, y la tabla de asesinato de líderes rurales se exportará en formato .xlsx.

In [ ]:
## Solucion punto 1.

# No se encuentra disponible la tabla.

In [ ]:
## Solucion punto 2.
ruta_df <- c("drive_sebas/archivos_taller_import_export/CasosDF_202409.parquet")

df_cnmh <- read_parquet(ruta_df,
                        col_select = c("Año",
                                        "Mes",
                                        "Día",
                                        "Departamento",
                                        "Municipio",
                                        "Presunto.Responsable"))

View(head(df_cnmh))

  Año  Mes Día Departamento Municipio Presunto.Responsable
1 1991 05  25  CUNDINAMARCA JERUSALEN GUERRILLA
2 2004 12  02  CUNDINAMARCA LA MESA   GRUPO PARAMILITAR
3 1993 03  09  CUNDINAMARCA YACOPI    GRUPO PARAMILITAR
4 1997 06  08  CHOCO        BOJAYA    GRUPO PARAMILITAR
5 2000 06  12  CHOCO        LLORO     GRUPO PARAMILITAR
6 1997 05  10  CHOCO        RIOSUCIO  GRUPO PARAMILITAR

In [ ]:
## Solucion punto 3

ruta_la <- c("drive_sebas/archivos_taller_import_export/Base-de-datos-líderes-asesinados_2021.xlsx")

la_table <- read.xlsx(ruta_la)

View(head(la_table))

  ID NOMBRE                         GENERO CEDULA   TIPO.LIDER
1 1  ALVARO FERNANDO QUEGUAN        1      M        1
2 2  EMEL  ANTONIO VARELA TUBERQUIA 1      71942866 1
3 2  IVAN DARIO RESTREPO            1      M        2
4 3  CESAR GARCIA                   1      M        1
5 5  DUVIS ANTONIO GALVIS           1      M        1
6 6  JORGE ELIECER HERNANDEZ BLANCO 1      M        1
  VINCULACION.PROCESO.COCA/SUSTITUCION NIVEL.ORGANIZACION TIPO.1.ORGANIZACION
1 2                                    3                  6
2 2                                    3                  6
3 2                                    4                  8
4 2                                    4                  6
5 2                                    5                  6
6 2                                    5                  6
  TIPO.2.ORGANIZACION TIPO.3.ORGANIZACION ⋯
1 1                   9                   ⋯
2 1                   M                   ⋯
3 7                   M                   ⋯
4 3                   3                   ⋯
5 1                   1                   ⋯
6 1                   M                   ⋯
  FUENTE.1
1 http://prensarural.org/spip/spip.php?article10745
2 http://prensarural.org/spip/spip.php?article11520
3 http://forjandofuturos.org/fundacion/index.php?option=com_content&view=article&id=1106:ivan-dario-restrepo-lider-reclamante-de-tierras-asesinado-en-bello&catid=67&Itemid=163
4 http://noticiasunolaredindependiente.com/2013/11/03/noticias/asesinado-el-opositor-del-proyecto-de-mineria-la-colosa-en-tolima/
5 http://prensarural.org/spip/spip.php?article13225               http://prensarural.org/spip/spip.php?article13894
6 http://www.prensarural.org/spip/spip.php?article13479
  FUENTE.2
1 http://www.marchapatriotica.org/index.php?option=com_content&view=article&id=975%3Anarino-l-asesinado-lider-campesino&catid=107&Itemid=482
2 http://www.eluniversal.com.co/monteria-y-sincelejo/sucesos/asesinan-lider-del-alto-sinu-en-cordoba-128804
3 http://www.elespectador.com/noticias/nacional/asesinan-lider-campesino-reclamante-de-tierras-antioqui-articulo-420230   http://www.desdeabajo.info/component/k2/item/22014-la-onu-alerta-sobre-los-asesinatos-de-l%C3%ADderes-campesinos-en-colombia.html
4 http://prensarural.org/spip/spip.php?article12517
5 Bitacora 28 de enero de 2014
6 http://prensarural.org/spip/spip.php?article13457
  FUENTE.3
1 http://pagina10.com/index.php/pacifico/item/1081-en-tumaco-de-13-capturados-s%C3%B3lo-uno-qued%C3%B3-detenido#.U4_Wa_l5NZ5
2 http://elmeridianodecordoba.com.co/index.php?option=com_k2&view=item&id=38321:asesinan-a-otro-l%C3%ADder&Itemid=120
3 http://www.verdadabierta.com/component/content/article/42-asesinatos-selectivos/4575-despojo-urbano-causa-victima-en-bello-antioquia/
4 http://www.elespectador.com/noticias/nacional/el-loco-se-le-opuso-colosa-articulo-457492
5 http://m.semana.com/nacion/articulo/marcha-patriotica-denuncia-nuevo-asesinato/372244-3   http://www.elheraldo.co/nacional/piedad-cordoba-denuncia-asesinato-de-otro-miembro-de-marcha-patriotica-140659
6 http://www.vanguardia.com/santander/barrancabermeja/248378-ejercito-insiste-en-que-severo-si-colaboraba-a-guerrilla-en-sur-de-
  FUENTE.4
1 http://prensarural.org/spip/spip.php?article10893
2 http://elheraldo.co/region/cordoba/asesinado-otro-lider-civico-en-tierralta-cordoba-119225
3 http://issuu.com/gulcuec/docs/informe_enero_junio_2013_somos_defe/18
4 http://www.semanariovoz.com/2013/11/13/crimenes-contra-lideres-campesinos-diez-asesinados-en-dos-meses/
5 http://www.elpais.com.co/elpais/judicial/noticias/piedad-cordoba-denuncia-nuevo-asesinato-integrante-marcha-patriotica                                                                        http://www.caracol.com.co/noticias/regionales/asesinan-lider-campesino-en-el-catatumbo/20140127/nota/2063926.aspx
6 Bitacora 15 de abril de 2014
  LISTADO                            FECHA.CONSULTA
1 Marcha Patriotica                  41796
2 Defensoria                         41796
3 NA                                 41796
4 NA                                 41796
5 Marcha Patriotica - Noche y niebla 41796
6 Marcha Patriotica                  41796
  DATOS.REVELANTES.FUENTE
1 En enfrentamiento entre el ejercito y las FARC, cayo herido el senor alvaro Queguan producto del fuego cruzado. Posteriormente, el grupo de militares procedio a detener arbitrariamente y trasladar hasta el centro poblado del Municipio de Tumaco a catorce campesionos de la zona.
2 Cedula de ciudadania nro. 71.942.866. En la tarde de ayer, siendo aproximadamente las seis pm hombres armados ultimaron de varios impactos de bala la integridad de EMEL ANTONIO VARELA TUBERQUIA quien se desempenaba como Presidente de la Junta de Accion Comunal de la vereda La Estrella perteneciente al corregimiento de Zaiza y quien tambien hacia parte de la Asociacion Campesina para el Desarrollo del Alto Sinu ASODECAS.
3 F4: Restrepo venia demostrando las alianzas entre la banda criminal "Los Triana" y agentes de la Policia Nacional. El 19 de junio de 2012, sus escoltas enviaron un informe a la Unidad Nacional de Victimas, solicitando el fortalecimiento de su proteccion. Sin embargo, no fue atendida.
4 F2. CESAR GARCÍA, el día de hoy (2 de noviembre de 2013) entre las 5 y 6 de la tarde fue asesinado con un tiro en la cabeza cuando llegaba a su finca ubicada la vereda la Cajón la Leona del municipio de Cajamarca.
5 Se dirigia hacia su residencia en su motocicleta con un menor de 10 anos. En ese momento fue interceptado por desconocidos quienes dispararon contra Duvis Antonio Galvis, recibiendo varios impactos de bala en su pecho que le causaron la muerte.
6 El dia sabado 22 de Febrero de 2014, en la vereda Matae Bambu, fue asesinado por parte de la Fuerza de Tarea Conjunta Marte, el campesino Jorge Eliecer Hernandez Blanco, de 28 anos de edad, segun familiares y habitantes de la region, el se desempenaba como campesino y vicepresidente de la Junta de Accion Comunal de la Vereda Alto Limon , del Municipio de San Pablo, sur de Bolivar, en la Zona de Reserva Campesina del Valle del Rio Cimitarra. Aunque los familiares de Jorge Eliecer Hernandez Blanco insisten que la muerte de su hijo, ocurrida el pasado domingo en la madrugada en San Pablo, sur de Bolivar, se trato de un ‘falso positivo’, las autoridades militares advierten que el operativo se llevo a cabo mediante una orden judicial.
  CASO.GRIS CASO.GRIS.COD
1 NO        NO
2 NO        NO
3 NO        NO
4 NO        NO
5 NO        NO
6 NO        NO
  OBSERVACIONES
1 Junto con el homicidio de Queguan, se efectuo la captura masiva de 13 campesinos de la zona acusados de rebelion y presentados como guerrilleros. http://www.semana.com/especiales/defensores-derechos-asesinados/Nariño.html
2 Cartilla heroes anonimos. Esta en la ultima matriz de la Defensoria. En algunos medios lo escriben como: (Emer)
3 Estaba con esquema de proteccion y los que le dispararon estaban vestidos de policia
4 Riesgo de lideres y lideresas que defienden los recursos naturales, y ademas son acusados de guerrilleros
5 NA
6 NA

In [ ]:
## Solucion punto 4
df_cnmh <- head(df_cnmh, 5)

la_table <- head(la_table, 5)

write_parquet(df_cnmh, "drive_sebas/carpeta_salida/cnmh_first5.parquet")

write.xlsx(la_table, "drive_sebas/carpeta_salida/la_tabl.xlsx")